.error-message {
    margin: 20px 0; 
    padding: 10px; 
    background-color: #ffcccc; 
    border: 1px solid #ff6666; 
    border-radius: 4px; 
}
.success-message {
  margin: 20px 0; 
  padding: 10px; 
  background-color: #ccffcc; 
  border: 1px solid #66ff66;
  border-radius: 4px; 
}

.table-container {
  font-family: Arial, sans-serif;
  border-collapse: collapse;
  margin-top: 20px;
}

.table-container th {
  background-color: #f2f2f2;
  border: 1px solid #dddddd;
  padding: 8px;
  text-align: left;
}

.table-container td {
  border: 1px solid #dddddd;
  padding: 8px;
}

.table-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-container tr:hover {
  background-color: #dddddd;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
